// Translate
@mixin translate($x: 0, $y: 0) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

// Rotate
@mixin rotate($direction, $deg: 0) {
  @if $direction == 'x' {
    -webkit-transform: rotateX($deg);
    -moz-transform: rotateX($deg);
    -ms-transform: rotateX($deg);
    -o-transform: rotateX($deg);
    transform: rotateX($deg);
  } @else if $direction == 'y' {
    -webkit-transform: rotateY($deg);
    -moz-transform: rotateY($deg);
    -ms-transform: rotateY($deg);
    -o-transform: rotateY($deg);
    transform: rotateY($deg);
  } @else if $direction == 'z' {
    -webkit-transform: rotateZ($deg);
    -moz-transform: rotateZ($deg);
    -ms-transform: rotateZ($deg);
    -o-transform: rotateZ($deg);
    transform: rotateZ($deg);
  }
}

// Scale
@mixin scale($direction, $amount: 0) {
  @if $direction == 'x' {
    -webkit-transform: scaleX($amount);
    -moz-transform: scaleX($amount);
    -ms-transform: scaleX($amount);
    -o-transform: scaleX($amount);
    transform: scaleX($amount);
  } @else if $direction == 'y' {
    -webkit-transform: scaleY($amount);
    -moz-transform: scaleY($amount);
    -ms-transform: scaleY($amount);
    -o-transform: scaleY($amount);
    transform: scaleY($amount);
  } @else if $direction == 'z' {
    -webkit-transform: scaleZ($amount);
    -moz-transform: scaleZ($amount);
    -ms-transform: scaleZ($amount);
    -o-transform: scaleZ($amount);
    transform: scaleZ($amount);
  } @else if $direction == 'xy' {
    -webkit-transform: scale($amount);
    -moz-transform: scale($amount);
    -ms-transform: scale($amount);
    -o-transform: scale($amount);
    transform: scale($amount);
  }
}
